//output:application/views/ubicacionCentro.php

.col-md-4.col-md-push-2.center
  .row
    .alert.alert-info
      h2 La Vina Centro
      h4 Ramon Lopez Velarde 305-C
      | Zacatecas,Zacatecas
  .row
    .col-md-12.mapie
      iframe(width='100%', height='300', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=av%20ramon%20lopez%20velarde%20305%20c%20zacatecas&key=AIzaSyBPjkPvVXizjo7moLJfLocGaaulxWlrxGI', allowfullscreen='')
  .row
    .alert.alert-warning.cleared
      p Entrada por Callejon de Correa
      p Primera puerta, subir las escaleras
